recursive-include paystack_payments *.json
recursive-include paystack_payments *.js
recursive-include paystack_payments *.css
recursive-include paystack_payments *.html
recursive-include paystack_payments *.py
recursive-include paystack_payments *.md
recursive-include paystack_payments/fixtures *.json
include requirements.txt
include README.md
include license.txt
